/* MAIN */

.button {
	text-decoration: none;
	background: linear-gradient(180deg, #ed6d6d, #c31713);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 3px 3px 4px #d1d1d1;
	-webkit-box-shadow: 3px 3px 4px #d1d1d1;
	-moz-box-shadow: 3px 3px 4px #d1d1d1;
	font-size: 20px;
	padding: 5px 10px;
	color: rgba(255,255,255,1);
}

.button:hover {	background: linear-gradient(180deg, #c31713, #ed6d6d) }

input {	border:1px solid #c31713 }

main form span{
	font-size: 40px;
}

main form .tipo{
	font-size: 20px;
}

main:after {
	content: "";
	display: block;
	height: 50px;
}