/* COMMONS */
html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 100px;
}

.center{
	text-align:center;
	margin-left:auto; 
	margin-right:auto;
}

/* HEADER */
header img{
	width: 30%;
}

header h1{
	float:right;
	width: 70%;
	margin-top: 0;
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
	color:rgba(255,255,255,1);
	background: rgba(195,23,19,1);
}

/* MAIN */

main form span{
	font-size: 30px;
}

main form input{
	font-size: 30px;
}

.button {
	text-decoration: none;
	background: linear-gradient(180deg, #ed6d6d, #c31713);
	border-radius: 13px;
	-webkit-border-radius: 13;
	-moz-border-radius: 13;
	box-shadow: 3px 3px 4px #d1d1d1;
	-webkit-box-shadow: 3px 3px 4px #d1d1d1;
	-moz-box-shadow: 3px 3px 4px #d1d1d1;
	font-size: 30px;
	padding: 10px 50px;
	color: rgba(255,255,255,1);
}

.button:hover {	background: linear-gradient(180deg, #c31713, #ed6d6d) }

input {	border:1px solid #c31713 }

main:after {
	content: "";
	display: block;
	height: 50px;
}

/* FOOTER */
footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:70px;
	padding-top:20px;
	font-size: 14px;
	color: rgba(255,255,255,1);
	background: rgba(195,23,19,1);
}

footer .inline{ display: inline }

footer .center{ margin: 10% }

footer a {
	color: inherit;
	text-decoration: none;
}

footer a:hover { text-decoration: underline }

/* RESPONSIVE */
@media only screen and (max-width: 530px){
	body { margin-bottom: 140px }
	
	.button{
		font-size: 20px;
		padding: 10px 20px;
	}
	
	main { width: 100%; }
	
	footer {
		padding-top:0;
		height:130px;
	}
	
	footer .inline{	display: block }
	
	footer .center{ margin: 0 }	
	
	header h1{ font-size:1.4em }
}